<h1> New Contact is: </h1>

First Name: <p><%= @contact.first_name %></p>
Middle Name: <p><%= @contact.middle_name %> </p>
Last Name: <p><%= @contact.last_name %></p>
Email: <p><%= @contact.email %></p>
Phone Number: <p><%= @contact.phone_number %></p>
Bio: <p><%= @contact.bio %></p>
Latitude: <p><%= @contact.latitude %> </p>
Longitude: <p><%= @contact.longitude %> </p>

