<h1> Your requested contact is: <h1>

First Name: <p><%= @contact.first_name %></p>
Middle Name: <p><%= @contact.middle_name %></p>
Last Name: <p><%= @contact.last_name %></p>
Email: <p><%= @contact.email %></p>
Phone Number: <p><%= @contact.japanese_prefix %></p>
Bio: <p><%= @contact.bio %></p>

<%= form_tag "/contacts/#{@contact.id}", method: :delete do %>
  <input type="submit" value="Delete Contact">
<%end%>

<p> Updated: <%= @contact.friendly_updated_at %> </p>

<p> Full Name: <%= @contact.full_name %> </p>
